*{

}

.page {
    border:2px solid;
    min-height: 100vh;
    display: flex;
}

aside{
    background: lightgreen;
    flex: 1;
}

main{
    background: lightblue;
    flex:2;
    display: flex;
    flex-direction: column;
}

main section:nth-child(1){
    background: lightgoldenrodyellow;
    flex: 0 0 100px; /*flex basis é o que tem mais força na caixa e devido a ele ser 80px faz todos se adaptarem*/
}

main section:nth-child(2){
    background: lightsalmon;
    flex: 2;
}

main section:nth-child(3){
    background: lightpink;
    flex: 1;
}